/* DEVELOPER: ZACHARY ZEITLER, IS117-001, FALL 2019 */

div {
    padding: 2em 2em 2em 2em;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #203731;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}